## Environment Preparation

In [2]:
%pip install python-dotenv > /dev/null 2>&1
%pip install datasets > /dev/null 2>&1
%pip install nltk > /dev/null 2>&1
%pip install openai > /dev/null 2>&1
%pip install tenacity > /dev/null 2>&1
%pip install scikit-learn > /dev/null 2>&1
%pip install pandas > /dev/null 2>&1
%pip install transformers > /dev/null 2>&1
%pip install torch > /dev/null 2>&1

Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [26]:
from dotenv import load_dotenv

# Load the .env file
load_dotenv()

True

## Read Data From CSV

In [9]:
from datasets import load_dataset

same_lang_same_meaning_file = "./same_lang_same_meaning.csv"
same_lang_same_meaning_ds = load_dataset('csv', data_files=same_lang_same_meaning_file)['train']

same_lang_diff_meaning_file = "./same_lang_diff_meaning.csv"
same_lang_diff_meaning_ds = load_dataset('csv', data_files=same_lang_diff_meaning_file)['train']


diff_lang_same_meaning_file = "./diff_lang_same_meaning.csv"
diff_lang_same_meaning_ds = load_dataset('csv', data_files=diff_lang_same_meaning_file)['train']

diff_lang_diff_meaning_file = "./diff_lang_diff_meaning.csv"
diff_lang_diff_meaning_ds = load_dataset('csv', data_files=diff_lang_diff_meaning_file)['train']

all_datasets = [{
    "name": "same_lang_same_meaning",
    "ds": same_lang_same_meaning_ds
}, {
    "name": "same_lang_diff_meaning",
    "ds": same_lang_diff_meaning_ds
}, {
    "name": "diff_lang_same_meaning",
    "ds": diff_lang_same_meaning_ds
}, {
    "name": "diff_lang_diff_meaning",
    "ds": diff_lang_diff_meaning_ds
}]

## Testing 

Compare the effectiveness of different methods for evaluating sentence similarity, including word embeddings, lexical overlap, and semantic similarity.

In [22]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
from typing import Callable, Union
import pandas as pd

# Calculate the cosine similarity between two embeddings
def calculate_cosine_similarity(embedding1: Union[np.ndarray,list[float]], embedding2: Union[np.ndarray, list[float]]) -> float:
    cosine_sim = cosine_similarity(np.array([embedding1]), np.array([embedding2]))
    return cosine_sim[0][0]

# Evaluate the embeddings using all the datasets
def evaluate_all_datasets(emb_func: Callable[[str], Union[np.ndarray, list[float]]]) -> Union[pd.DataFrame, None]:

    results = None

    for dataset in all_datasets:

        df = pd.DataFrame(columns=['sentence1', 'sentence2', 'cosine_similarity', 'expected_similarity', 'similarity_diff', 'source'])

        for i in range(0, len(dataset['ds'])):
            sentence1 = dataset['ds'][i]['sentence1']
            sentence2 = dataset['ds'][i]['sentence2']
            expected_similarity = dataset['ds'][i]['expected_similarity_score']
            
            embedding1 = emb_func(sentence1)
            embedding2 = emb_func(sentence2)

            similarity = calculate_cosine_similarity(embedding1, embedding2)

            similarity_diff = abs(similarity - expected_similarity)

            df.loc[i] = [sentence1, sentence2, similarity, expected_similarity, similarity_diff, dataset['name']]

        sorted_df = df.sort_values(by=['similarity_diff'], ascending=False)

        results = sorted_df if results is None else pd.concat([results, sorted_df])

    return results

#### BERT Embeddings

In [34]:
from transformers import BertTokenizer, BertModel
import torch

# Use the BERT multilingual model
model_name = 'bert-base-multilingual-cased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

# Get the embeddings of a sentence with BERT
def get_embedding_with_bert(sentence):
    inputs = tokenizer(sentence, return_tensors="pt", truncation=True, padding=True)
    with torch.no_grad():
        outputs = model(**inputs)
    
    # Get the sentence embedding
    sentence_embedding = outputs.last_hidden_state[:, 0, :].squeeze().numpy()
    return sentence_embedding


bert_results = evaluate_all_datasets(get_embedding_with_bert)

# Display the results grouped by the source
if bert_results is not None:
    grouped_results = bert_results.groupby("source")
    for name, group in grouped_results:
        print(f"Source: {name}")
        display(group.style.hide("source", axis="columns"))
        print("\n")

Source: diff_lang_diff_meaning

Source: diff_lang_same_meaning

Source: same_lang_diff_meaning

Source: same_lang_same_meaning

#### Azure OpenAI Embeddings

In [27]:
import os
from openai import AzureOpenAI
from tenacity import retry, stop_after_attempt, wait_exponential

aoai = AzureOpenAI(
            azure_endpoint=os.environ.get("AZURE_OPENAI_ENDPOINT", ""),
            api_key=os.environ.get("AZURE_OPENAI_KEY", ""),
            api_version="2024-02-01",
        )


@retry(stop=stop_after_attempt(5), wait=wait_exponential(multiplier=1, min=4, max=10))
def get_embedding_with_aoai(input: str, deployment_id: str) -> list[float]:
    return aoai.embeddings.create(
        input=input,
        model=deployment_id,
    ).data[0].embedding

##### Text Embedding Ada 002

In [29]:
from IPython.display import display

# Replace the deployment_id with the one you have created
text_embedding_ada = "text-embedding-ada-002"

text_embedding_ada_results = evaluate_all_datasets(lambda sentence: get_embedding_with_aoai(sentence, text_embedding_ada))

# Display the results grouped by the source
if text_embedding_ada_results is not None:
    grouped_results = text_embedding_ada_results.groupby("source")
    for name, group in grouped_results:
        print(f"Source: {name}")
        display(group.style.hide("source", axis="columns"))
        print("\n")

Source: diff_lang_diff_meaning

Source: diff_lang_same_meaning

Source: same_lang_diff_meaning

Source: same_lang_same_meaning

##### Text Embedding 3 Small

In [30]:
from IPython.display import display


# Replace the deployment_id with the one you have created
text_embedding_3_small = "text-embedding-3-small"

text_embedding_3_small_results = evaluate_all_datasets(lambda sentence: get_embedding_with_aoai(sentence, text_embedding_3_small))

# Display the results grouped by the source
if text_embedding_3_small_results is not None:
    grouped_results = text_embedding_3_small_results.groupby("source")
    for name, group in grouped_results:
        print(f"Source: {name}")
        display(group.style.hide("source", axis="columns"))
        print("\n")

Source: diff_lang_diff_meaning

Source: diff_lang_same_meaning

Source: same_lang_diff_meaning

Source: same_lang_same_meaning

##### Text Embedding 3 Large

In [31]:
from IPython.display import display

# Replace the deployment_id with the one you have created
text_embedding_3_large = "text-embedding-3-large"

text_embedding_3_large_results = evaluate_all_datasets(lambda sentence: get_embedding_with_aoai(sentence, text_embedding_3_large))

# Display the results grouped by the source
if text_embedding_3_large_results is not None:
    grouped_results = text_embedding_3_large_results.groupby("source")
    for name, group in grouped_results:
        print(f"Source: {name}")
        display(group.style.hide("source", axis="columns"))
        print("\n")

Source: diff_lang_diff_meaning

Source: diff_lang_same_meaning

Source: same_lang_diff_meaning

Source: same_lang_same_meaning